<p id="notice"><%= notice %></p>
<p>
  <strong>Id:</strong>
  <%= @id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @name %>
</p>

<p>
  <strong>Family:</strong>
  <%= @family %>
</p>

<p>
  <strong>Continents:</strong>
  <%= @continents %>
</p>

<p>
  <strong>Added:</strong>
  <%= @added %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @visible %>
</p>
